
.Kath{
    width:100%;
}
.Kathmandu{
    position: absolute;
    top:160%;
    left:20px;
    color:white;
    font-family: sans-serif;
}

.intro h1{
    font-family: valorant;
    color: white;
    margin:0;
    padding-top: 10px;
    
}

.intro p{
    font-family: ConsolasC;
    color: white;
    margin:0;
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.line{
    width: 112px;
    height: 10px;
    border-bottom: 4px solid orange;
    position: absolute;
    left:4px;
}

.body-intro{
    background-color: #3D4849;
}

.sigal{
    width: 100%;
    height: 266px;
}


@media (min-width: 700px){

    .Logos h1{
        font-size: 24px;
    }
    
    .Kath{
        width:350px;
        padding-top:10px;
        float: right;
        padding-right:10px
    }

    .body-intro{
        display: flex;
        justify-content: space-between;
        background-color: #3D4849;
    }

    .Kathmandu{
        position: absolute;
        top:150%;
        left:54%;
        font-size:10px;
        color:white;
        font-family: sans-serif;
    }

    .line{
        width: 200px;
        height: 5px;
        border-bottom: 3px solid orange;
        position: absolute;
        left:20px;

    }
    .sigal{
        width: 90%;
        height: 250px;
        padding-left: 20px;
    }

    .intro p{
        padding-left:20px;
        font-weight: bold;
    }
    .intro h1{
        padding-left:20px;
    }
}